* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #250902;
    background-image: linear-gradient(rgba(37, 9, 2, 0.85), rgba(37, 9, 2, 0.85)),
    url("img/wallhaven-dpv2qg_1920x1080.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: "Shojumaru", system-ui;
    cursor: url(img/Chainsaw\ Man\ Denji\ &\ Pochita\ Animated\ -\ cursor\ -\ SweezyCursors\(1\).png), auto;
    color: white;
    text-align: center;
    overflow-x: hidden;
}

h1 {
    margin: 40px 0;
    font-size: 100px;
    text-shadow: 0 0 15px red;
}

h2.seccion-titulo {
    font-size: 70px;
    text-shadow: 0 0 18px red;
    margin: 60px 0 30px 0;
    color: white;
}
.categoria {
    font-size: 18px;
    color: #ff6b6b;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 10px 0;
    opacity: 0.9;
    text-align: center;
}

.trailers {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 0 16px;
}

iframe {
    width: 100%;
    max-width: 1200px;
    aspect-ratio: 16/9;
    height: auto;
    border-radius: 15px;
    border: 4px solid red;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
}

.banner img {
    width: 80%;
    border-radius: 10px;
    margin: 30px 0;
    border: 4px solid red;
    transition: 0.7s;
    transform-origin: center;
}

.banner img:hover { 
    transform: scale(1.07);
    filter: drop-shadow(0 15px 35px rgba(255, 0, 0, 0.8));
    border-color: #ff3333;
}

/* CARD CONTENEDOR */
.personajes-paises {
    width: 100%; 
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding: 40px 0;
}

/* TARJETA */
.pj-card {
    display: flex;
    width: 100%;
    align-items: center;
    height: auto;
    padding: 40px;


    opacity: 0;
    animation: aparecer linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

/* POSICIONES */
.pj-card.izquierda {
    justify-content: flex-start;
    text-align: left;
    margin-left: 5%;
    transform: translateX(-120px);
}

.pj-card.derecha {
    justify-content: flex-end;
    text-align: right;
    margin-right: 5%;
    transform: translateX(120px); 
}

@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* PERSONAJE GRANDE */
.pj-imagen img {
    width: 600px;
    transition: 0.3s;

    animation: float 3.5s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.pj-imagen img:hover {
    transform: scale(1.07);
    filter: drop-shadow(0 0 15px red);
}

/* INFO CARD */
.pj-info {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    gap: 50px;
    padding: 60px;
    background: rgba(0,0,0,0.4);
    border-radius: 15px;
    border: 2px solid red;
    box-shadow: 0 0 15px rgba(255,0,0,0.4);
    text-align: left;
    backdrop-filter: blur(6px);
}

/* BANDERAS*/
.pj-info .bandera {
    width: 140px;
    height: auto;
    object-fit: contain;
    margin: auto;
    transition: 0.3s;
}

/* banderas un poco más grandes */
.pj-info .bandera[alt="México"],
.pj-info .bandera[alt="Guatemala"],
.pj-info .bandera[alt="El Salvador"] { 
    width: 180px;
}

/* Argentina aparte porque es mas grande que las demas imagenes */
.pj-info .bandera[alt="Argentina"] { 
    width: 135px;
}


.pj-info .bandera:hover {
    transform: scale(1.15);
    filter: drop-shadow(0 0 10px red);
}

/* TEXTO */
.pj-info h2 {
    font-size: 30px;
    margin: 0;
}

.descripcion {
    font-size: 18px;
    opacity: 0.9;
}

/* BOTONES */
.boton {
    display: inline-block;
    padding: 14px 24px;
    background: #800E13;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.3s;
    text-align: center;
}

.boton:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #640D14;
}

.botones-dobles {
    display: flex;
    gap: 15px;
    justify-content: center;
}

/* RESPONSIVE */

.pj-card {
  max-width: 1400px;
  margin: auto;
  min-width: 320px; 
}


.video-embed {
    width: 100%;
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 16px;
}

.video-embed iframe {
    width: 100%;
    aspect-ratio: 16/9;
}


@media (max-width: 1000px) {
    h1 { 
        font-size: 60px; 
    }

    h2.seccion-titulo {
        font-size: 50px;
    }

    .pj-card {
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }

    .pj-card.izquierda,
    .pj-card.derecha {
        transform: translateX(0);
    }

    iframe {
        max-width: 95%;
    }

    .pj-imagen img {
        width: 420px;
        max-width: 95%;
    }

    .pj-info {
        max-width: 520px;
        width: 95%;
        padding: 35px;
        gap: 25px;
        text-align: center;
    }
}


@media (max-width: 800px) {
    h1 { 
        font-size: 48px; 
    }

    h2.seccion-titulo {
        font-size: 42px;
    }

    .categoria {
        font-size: 16px;
    }

    .pj-imagen img {
        width: 380px;
        max-width: 95%;
    }

    .pj-info {
        max-width: 480px;
        width: 95%;
        padding: 30px;
        gap: 22px;
    }

    .boton {
        font-size: 16px;
        padding: 12px 20px;
    }
}

@media (max-width: 500px) {
    h1 { 
        font-size: 32px; 
    }

    h2.seccion-titulo {
        font-size: 28px;
        margin: 40px 0 20px 0;
    }

    .categoria {
        font-size: 14px;
    }

    .pj-card {
        width: 95%;
    }

    .pj-imagen img {
        width: 300px;
        max-width: 95%;
    }

    .pj-info {
        width: 95%;
        padding: 25px 15px;
        gap: 20px;
    }

    .boton {
        font-size: 14px;
        padding: 10px 16px;
    }

    .video-embed {
        margin: 50px auto;
    }
}

/* MENU */
.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: black;
  padding: 15px;
}

.menu span  {
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;    
  transition: 0.2s ease-in;
}

.menu span:hover {
  color: rgb(151, 151, 151);
}

/* FOOTER */
footer {
  background: rgb(107, 100, 100);
  padding: 20px;
  margin-top: 40px;
  color: white;
  text-align: center;
}


